**/target/
**/*.rs.bk
*.swp
.wasm-binaries
pwasm-alloc/target/
pwasm-libc/target/
pwasm-alloc/Cargo.lock
pwasm-libc/Cargo.lock
**/._*
**/.criterion/
.vscode
.DS_Store
.idea/
nohup.out
rls*.log
*.orig
*.rej
**/wip/*.stderr
.local
.cargo/
.cargo-remote.toml
